@model PageModel<CarDto>

<div class="container-xxl flex-grow-1 container-p-y">

    <div class="card">
        <div class="d-flex justify-content-between align-items-center me-3">
            <h5 class="card-header">Cars table</h5>
            <a asp-controller="cars" asp-action="add" class="btn btn-primary">+ New</a>
        </div>
        <div class="table-responsive text-nowrap">
            @if (Model.Items.Any())
            {
                <table class="table table-hover mb-5">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Brend</th>
                            <th>Category</th>
                            <th>Batafsil</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach(var car in Model.Items)
                        {
                            <tr>
                                <td><strong>@car.Id</strong></td>
                                <td>@car.Name</td>
                                <td>@car.Price</td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li data-bs-toggle="tooltip"
                                            data-popup="tooltip-custom"
                                            data-bs-placement="top"
                                            class="avatar avatar-xs pull-up"
                                            title="@car.Brend.Name">
                                            <img src="@car.Brend.ImagePath" asp-append-version="true" alt="Avatar" style="object-fit: cover" />
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li data-bs-toggle="tooltip"
                                            data-popup="tooltip-custom"
                                            data-bs-placement="top"
                                            class="avatar avatar-xs pull-up"
                                            title="@car.Category.Name">
                                            <img src="@car.Category.ImagePath" asp-append-version="true" alt="Avatar" style="object-fit: cover"/>
                                        </li>
                                    </ul>
                                </td>
                                <td>
                                    <a asp-controller="cars" asp-action="detail" asp-route-id="@car.Id">
                                        <i class="bi bi-eye-fill"></i>
                                        Ko'rish
                                    </a>
                                </td>
                                <td>
                                    <div class="dropdown">
                                        <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                            <i class="bx bx-dots-vertical-rounded"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a asp-controller="cars" asp-action="edit" asp-route-id="@car.Id"
                                               class="dropdown-item"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                            <a asp-controller="cars" asp-action="delete" asp-route-id="@car.Id"
                                               onclick="return confirm('Are you sure delete?')"
                                                class="dropdown-item"><i class="bx bx-trash me-1"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <div class="card-body">
                    <p class="card-text">No cars found.</p>
                </div>
            }
        </div>

        @if (Model.TotalPages > 1)
        {
            <input type="hidden" value="@Model.PageNumber" id="pageNumber"/>

            <div class="d-flex justify-content-center">
                @if (Model.TotalPages < 6)
                {
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            @for (int i = 1; i <= Model.TotalPages; i++)
                            {
                               if (Model.PageNumber == i)
                               {
                                   <li class="page-item active"><a class="page-link" 
                                   asp-controller="cars" asp-action="index" asp-route-pageNumber="@i">@i</a></li>
                               }
                               else
                               {
                                   <li class="page-item"><a class="page-link" 
                                   asp-controller="cars" asp-action="index" asp-route-pageNumber="@i">@i</a></li>
                               }
                            }
                        </ul>
                    </nav>
                }
                else if (Model.PageNumber < 3)
                {
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            @if (Model.PageNumber == 1)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" aria-label="Previous"
                                       asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.PageNumber-1)">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            }
                            <li class="page-item"><a class="page-link" 
                            asp-controller="cars" asp-action="index" asp-route-pageNumber="1">1</a></li>
                            <li class="page-item"><a class="page-link"
                            asp-controller="cars" asp-action="index" asp-route-pageNumber="2">2</a></li>
                            <li class="page-item"><a class="page-link"
                            asp-controller="cars" asp-action="index" asp-route-pageNumber="3">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                            <li class="page-item"><a class="page-link"
                            asp-controller="cars" asp-action="index" asp-route-pageNumber="@Model.TotalPages">
                                @Model.TotalPages
                            </a></li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous"
                                   asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.PageNumber+1)">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
                else if (Model.TotalPages - 2 >= Model.PageNumber)
                {
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous"
                                   asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.PageNumber-1)">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link"
                            asp-controller="cars" asp-action="index" asp-route-pageNumber="1"
                            >1</a></li>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <li class="page-item"><a class="page-link"
                            asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.PageNumber - 1)">
                                    @(Model.PageNumber - 1)
                            </a></li>
                            <li class="page-item"><a class="page-link"
                            asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.PageNumber)">
                                    @Model.PageNumber
                            </a></li>
                            <li class="page-item"><a class="page-link"
                            asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.PageNumber + 1)">
                                    @(Model.PageNumber + 1)
                            </a></li>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <li class="page-item">
                                <a class="page-link"
                                asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.TotalPages)">
                                    @Model.TotalPages
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous"
                                   asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.PageNumber+1)">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
                else
                {
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" aria-label="Previous"
                                   asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.PageNumber-1)">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" 
                            asp-controller="cars" asp-action="index" asp-route-pageNumber="1">1</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
                            <li class="page-item">
                                <a class="page-link" asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.TotalPages - 2)">
                                    @(Model.TotalPages - 2)
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.TotalPages - 1)">
                                    @(Model.TotalPages - 1)
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.TotalPages)">
                                    @Model.TotalPages
                                </a>
                            </li>
                            @if (Model.PageNumber == Model.TotalPages)
                            {
                                <li class="page-item disabled">
                                    <a class="page-link" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" aria-label="Next"
                                       asp-controller="cars" asp-action="index" asp-route-pageNumber="@(Model.PageNumber+1)">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            }
                        </ul>
                    </nav>
                }
            </div>
        }
    </div>

</div>